
.section {
    display:flex;
}

.container {
    margin: 0 auto;
    overflow: hidden;
}
.blockGround{
    /* background-color: black; */
    background-color: rgb(83, 86, 90);
    display:block;
    width:20px;
    height:20px;
    /* width:10px;
    height:10px; */
}
.apple{
    background-color: red;
    /* background-color: whitesmoke; */
}
.youLost{
    background-color: rgb(255, 187, 0);
}
.head{
    background-color:rgb(89, 247, 89);
    /* background-color: rgb(255, 233, 199); */
}
.mainHead{
    background-color:rgb(89, 247, 89);
    /* background-color: rgb(252, 203, 130); */
}
/* .selectionRow{

} */
.stats{
    display:flex;
}
#score{
    margin-left: 25px;
}
#speed{
    width:80px;
}
.speedLabel{
    flex: 1;
}
.row{
    display:flex;
    flex-wrap:wrap;
    /* margin-right:-20px; */
}
.row_relative{
    position:relative;
}
.col{
    width:auto;
    /* padding-right:20px; */
    box-sizing: border-box;
}
.content-area {
    padding-top:30px;
    background-color: #FFF;
    /* padding-bottom: 40px; */
    /* padding-top: 40px; */
}
/* .section {
    padding-left: 10px;
    padding-right: 10px;
} */
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow:hidden;
    display: grid;
}
.start{
    color:black;
    background-color:#FFF;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}